@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Figtree;
    font-style: normal;
    src: url(../public/assets/fonts/Figtree-VariableFont_wght.ttf);
  }
}

* {
  font-family: Figtree, sans-serif;
  box-sizing: border-box;
}

.card {
  box-shadow: 8px 8px black;
}
